# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
ENV/

# Temporary and local downloads
temp_downloads/
*.xlsx
*.csv

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
